/*Polices*/

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.ttf') format('truetype');
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.ttf') format('truetype');
}


/*Fin police*/

body {
    background: radial-gradient(#2e5941, #0d2622) fixed;
    /*Dégradé de couleur fixe*/
    color: #ffffff;
    font-family: 'Montserrat';
}


/*Les titres*/

h1 {
    color: #F2B705;
    text-align: center;
    font-family: 'Cinzel';
}

h2 {
    color: #A9BF04;
    margin-left: 10px;
    font-family: 'Cinzel';
}

h3 {
    color: #a6bf80;
    margin-left: 30px;
    font-family: 'Cinzel';
}

#Glossaire {
    margin-left: 50px;
    list-style-image: url('../Images/Plandetravail1.png');
    /*Remplace les puces de la liste par une image*/
}


/*Fin Titres*/


/*Couleurs des liens que j'ai changé pour une question d'esthétique*/

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    /*Couleur du lien avant d'être visiter*/
    color: #F2B705;
}


/*Définit la couleur du lien, sans avoir le curseur au-dessus, sans cliquer dessus non plus*/

a:visited {
    /*Comme son nom a:visited l'indique c'est la couleur du lien une fois qu'il a été visiter, je n'ai pas fait de manipulation particulière si ce n'est changer la couleur*/
    color: #A9BF04
}

a:hover {
    background: 1px solid;
    background: #0D2622;
    /*Couleur d'arrière plan lorsque l'on survole le lien*/
}


/*Fin changement de couleur des liens*/


/*Les tableaux*/

td,
th {
    border: 1px solid whitesmoke;
}

thead {
    text-align: center;
}

#Veracrasse {
    float: left;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 300px;
    height: 350px;
    text-align: justify;
    margin-left: 30px;
}

#Horglups {
    float: right;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 300px;
    height: 600px;
    text-align: justify;
    margin-right: 30px;
}

#Botruc {
    float: left;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 300px;
    height: 700px;
    text-align: justify;
    margin-left: 30px;
}

#Augurey {
    float: right;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 300px;
    height: 600px;
    text-align: justify;
    margin-right: 30px;
}

#Hippogriffe {
    float: left;
    margin-left: 30px;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 350px;
    height: 300px;
    text-align: justify;
}

#Niffleur {
    float: right;
    margin-right: 30px;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: auto;
    height: auto;
    text-align: justify;
}

#Kelpy {
    float: left;
    margin-left: 30px;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 300px;
    height: auto;
    text-align: justify;
}

#Demiguise {
    float: right;
    margin-right: 30px;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 300px;
    height: 500px;
    text-align: justify;
}

#Basilic {
    float: left;
    margin-left: 30px;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 300px;
    height: 250px;
    text-align: justify;
}

#LG {
    float: right;
    margin-right: 30px;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 250px;
    height: 450px;
    text-align: justify;
}

#Détraqueur {
    float: left;
    margin-left: 30px;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 300px;
    height: auto;
    text-align: justify;
}

#Magyar {
    float: right;
    margin-right: 30px;
    border-collapse: collapse;
    border: 1px solid whitesmoke;
    background-color: #080C26;
    table-layout: auto;
    width: 350px;
    height: 500px;
    text-align: justify;
}


/*Fin tableau*/


/*Images pour tableaux*/

.FantasticBeast {
    width: 500px;
    display: block;
    margin: auto;
}

.Veracrasse {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
}

.Horglup {
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
}

.Botruc {
    width: 100px;
    height: 150px;
    display: block;
    margin: auto;
}

.Augurey {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

.Hippogriffe {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.Niffleur {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.Kelpy1 {
    width: 150px;
    height: 200px;
    display: block;
    margin: auto;
}

.Demiguise {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.Basilic2 {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

.Loup-Garou {
    width: 110px;
    height: 150px;
    display: block;
    margin: auto;
}

.Détraqueur {
    width: 150px;
    height: 200px;
    display: block;
    margin: auto;
}

.Magyar {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}


/*Fin Images Tableaux*/


/*Paragraphes*/

.Vera {
    margin-left: 350px;
    width: auto;
    height: 400px;
}

.Hor {
    margin-left: 30px;
    height: 600px;
    width: auto;
}

.Bot {
    margin-left: 350px;
    width: auto;
    height: 700px;
}

.Augu {
    margin-left: 30px;
    width: 1000px;
    height: 600px;
    display: block;
}

.Hipp {
    margin-left: 400px;
    width: auto;
    height: 900px;
}

.Nif {
    margin-left: 30px;
    width: auto;
    height: 550px;
}

.Kelp {
    margin-left: 350px;
    width: auto;
    height: 500px;
}

.Demi {
    margin-left: 30px;
    width: auto;
    height: 500px
}

.Basi {
    margin-left: 350px;
    width: auto;
    height: 500px;
}

.Loup {
    margin-left: 30px;
    width: 1000px;
    height: 600px;
}

.Det {
    margin-left: 350px;
    width: auto;
    height: 500px;
}

.Mag {
    margin-left: 30px;
    width: auto;
    height: 650px;
}


/*Menu déroulant*/

.MenuDeroulant {
    display: inline-flex;
}


/*Div1*/

.menu {
    overflow: hidden;
    background-color: #0D2622;
}

.menu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.first {
    float: left;
    overflow: hidden;
}

.first,
.firsty {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.menu a:hover,
.first:hover .firsty {
    background-color: #0D2622;
}

.first-content {
    display: none;
    position: absolute;
    background-color: #a6bf80;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.first-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.first-content a:hover {
    background-color: #ddd;
}

.first:hover .first-content {
    display: block;
}


/*Fin Div1*/


/*Div2*/

.menu2 {
    overflow: hidden;
    background-color: #0D2622;
}

.menu2 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.second {
    float: left;
    overflow: hidden;
}

.second,
.secondy {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.menu2 a:hover,
.second:hover .secondy {
    background-color: #0D2622;
}

.second-content {
    display: none;
    position: absolute;
    background-color: #a6bf80;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.second-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.second-content a:hover {
    background-color: #ddd;
}

.second:hover .second-content {
    display: block;
}


/*Fin Div2*/


/*Div3*/

.menu3 {
    overflow: hidden;
    background-color: #0D2622;
}

.menu3 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.third {
    float: left;
    overflow: hidden;
}

.third,
.thirdy {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.menu3 a:hover,
.third:hover .third {
    background-color: #0D2622;
}

.third-content {
    display: none;
    position: absolute;
    background-color: #a6bf80;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.third-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.third-content a:hover {
    background-color: #ddd;
}

.third:hover .third-content {
    display: block
}